<h2><%= @poll.question %></h2>
<h5>Posted by <%= @user.email %></h5>
<ul>
    <% @poll.options.split(",").each do |option| %>
        <li><%= option.split(":^:")[0] %></li>
    <% end %>
    </ul>
<hr>
<%= link_to "Delete", poll_path(@poll), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger" %>
<hr>